form {
    margin-top: 150px; 
}

.input-group {
    font-size: 20px;
    width: 100%;
}

input#url {
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}

#short-url {
    font-size: 20px;
    text-align: center;
    margin-top: 50px; 
}