<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/default.css" />

    <title>go-shortener</title>

</head>
<body>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="/" method="post">
                    <div class="input-group">
                        <div class="form-group">
                            <label for="url" class="control-label"></label>
                            <input type="url" placeholder="URL to short" class="form-control" name="url" id="url">
                        </div>
                        
                    </div>
                </form>
                <div id="short-url"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/default.js"></script>
</body>
</html>